{% extends 'base.html.twig' %}

{% block title %}Edit Profesor{% endblock %}

{% block body %}
    <div class="editForms">
        <h1>Editar Profesor</h1>
        <div class="row">
            {{ include('profesor/_form.html.twig', {'button_label': 'Guardar'}) }}
        </div>
        <br><br>
        <div class="row botones">
            <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('app_profesor_index') }}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}
