{% extends 'base.html.twig' %}

{% block title %}Nuevo Alumno{% endblock %}

{% block body %}
    <div class="editForms">
        <h1>Nuevo Alumno</h1>
        <div class="row">
            {{ include('alumno/_form.html.twig', {'button_label': 'Guardar'}) }}
        </div>
        <br><br>
        <div class="row botones">
            <div class="col-md-12">
                <a class="btn btn-primary" href="{{ path('app_alumno_index') }}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.predictivo').chosen()
    </script>
{% endblock %}