<form method="post" action="{{ path('app_alumnos_pagos_delete', {'id': alumnos_pago.id}) }}" onsubmit="return confirm('Seguro desea borrar este pago?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alumnos_pago.id) }}">
    <br>
    <button class="btn btn-danger">Delete</button>
</form>
